.Landing{
    display: flex;
    /* flex-direction: row; */
    
}



/* /////////// SIDE BAR /////////////////////// */


.sidebar{
    padding: 2.5% 0%;
    background-color: rgb(40,40,40);
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
    width: 80px;
    height: 95vh;
   
}
.sidebar > div{
    display: flex;
    flex-direction:column;
   
}

.icon1, .icon2{
    color: white;
    margin: auto;
    font-size: 3vh;
    margin-top: 30%;
}
.icon1{
     padding: .5vh;
    border-radius: 45%;
}
.icon1:hover{ 
   
    color: black;
    background-color: rgba(255, 255, 255, 0.951);
}

.Avatar{
    border-radius: 50%;
    width: 65%;
    margin: auto;
}



/* ////////////////// MAIN ////////////////////// */

.main{
    padding:0 35px;
    text-align: start;
    color: rgba(0, 0, 0, 0.818);

}

.main > div > p{
    font-size: 4vh;
    
}


.courses > p{
    margin-top: 45px;
    margin-bottom: 25px;
}
.news > p{
    margin-bottom: 25px;
}
.progress > p{
    margin-bottom: 25px;
}


.Book{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    font-size: 15px;
    
    position: relative;
    left: 245px;
    bottom: 248px;
}

.course{
    display: flex;
    gap: 15px;
    width: 80%;
    
}
.course > div{
    width: 280px;
    height: 230px;
    padding: 7px;
    border: 1.5px solid rgb(199, 199, 199);
    border-radius: 20px;
}

.course > div > img{
    width: 280px;
    border-radius: 20px;
    height: 120px;
}
.c-icon{
    border: 1.5px solid rgb(199, 199, 199);
    background-color: white;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.c-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.course-data{
    text-align: start;
    padding: 0vh 1vh 0vh 1vh;
    position: relative;
    top: -30px;
}
.course-data > p{
    margin: 10px 0px;
}

.c-bottom{

    display: flex;
    justify-content: space-between;
}
.c-bottom p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: start;
  
    margin: 0 0;
}
.c-bottom button{
    font-weight: 600;
    background-color: rgba(255, 68, 0, 0.83);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: medium;
    padding: 10px 15px ;
    margin: auto 0;
}


/* /////////////////// LATEST NEWS///////////////// */

.new{
    display: flex;
    gap: 15px;
}

.new > div{
    border: 1px solid gray;
    border-radius: 20px;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new > div h1{
    margin: auto;
    margin-bottom: 0;
    margin-top: 15px;
    
}

.new > div p{
    margin-top: 0px;
    font-size: 15px;
}

/* ////////////////// PROGRESS ///////////////// */



.prog{
    display: flex;
    gap:15px;
}
.p1{
    border: 1px solid gray;
    border-radius:30px;
    display: flex;
    gap:20px;
    width: 600px;
    height: 150px;
    padding: 1vh;
}
.p1 > img{
    border-radius: 30px;
    width: 200px;
}

.p3{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.p3 h3{
    margin: auto 0;
}

.p4{
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.bar, .bar1{
    width: 360px;
    display: flex;
}
.bar > div:first-child{
    width: 164px;
    height: 9px;
    background-color: gray;
}
.bar > div:last-child{
    width: 196px;
    height: 9px;
    background-color: rgba(128, 128, 128, 0.581);
}
.bar1 > div:first-child{
    width: 210px;
    height: 9px;
    background-color: gray;
}
.bar1 > div:last-child{
    width: 150px;
    height: 9px;
    background-color: rgba(128, 128, 128, 0.581);
}

